@media only screen and (max-width:1050px){
    header #header-margin{
        width: 100%;
        height: 250px;
    }
    
    .website-logo{
        width: 300px;
    }
    
    .website-logo{
        width: 300px;
    }

    .img-left{
        width: 70%;
    }
}

@media only screen and (max-width: 900px){
    header #header-margin{
        width: 100%;
        height: 250px;
    }
    
    .website-logo{
        width: 300px;
    }

    .img-left{
        width: 60%;
    }
}

@media only screen and (max-width: 768px){
    header #header-margin{
        width: 100%;
        height: 250px;
    }
    
    .website-logo{
        width: 300px;
    }

    .img-left{
        width: 65%;
    }
}

@media only screen and (max-width: 520px){
    header #header-margin{
        width: 100%;
        height: 250px;
    }
    
    .website-logo{
        width: 300px;
    }
}

@media only screen and (max-width: 400px){
    header #header-margin{
        width: 100%;
        height: 250px;
    }
    
    .website-logo{
        width: 300px;
    }
    
    .card-body{
        padding: 2.5rem;
    }
}

@media only screen and (max-width: 360px){
    header #header-margin{
        width: 100%;
        height: 200px;
    }
    
    .website-logo{
        width: 300px;
    }
    
    .card-body{
        padding: 2.2rem;
    }
}